html {
  color-scheme: light dark;
}

body {
  font: 100%/1.5 system-ui, sans-serif;
  max-width: 100ch;
  margin-inline: auto;
  padding: 2rem;
}

img {
  max-width: 300px;
  height: auto;
}

nav {
  --border-color: oklch(50% 10% 200 / 40%);
  display: flex;
  margin-bottom: 2rem;
  border-bottom: 1px solid var(--border-color);
}

nav a {
  flex: 1;
  text-decoration: none;
  color: inherit;
  text-align: center;
  padding: 0.5em;
}

nav a.current {
  border-bottom: 0.4em solid oklch(70% 10% 250);
  padding-bottom: 0.1em;
}

nav a:hover {
  border-bottom: 0.4em solid oklch(80% 3% 200);
  background-color: color-mix(in oklch, oklch(70% 10% 250), canvas 85%);
}

input,
textarea,
button,
select {
  font: inherit;
}

form {
  display: grid;
  gap: 1em;
  max-width: 40em;
}

label {
  display: grid;
  gap: 0.5em;
}

input,
textarea,
button {
  padding: 0.5em;
}

textarea {
  min-height: 8em;
}

.projects {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(15em, 1fr));
  gap: 1em;
}

.projects article {
  display: grid;
  gap: 0.5em;
}

.projects img {
  width: 100%;
  max-width: 100%;
  height: auto;
}

.color-scheme {
  position: absolute;
  top: 1rem;
  right: 1rem;
  font-size: 80%;
}

#profile-stats dl {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  text-align: center;
  gap: 0.5em;
}

#profile-stats dt {
  grid-row: 1;
  font-weight: bold;
}

#profile-stats dd {
  grid-row: 2;
  margin: 0;
}